<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

    <appender name="AWSLAMBDA" class="org.jlib.cloud.aws.lambda.logback.AwsLambdaAppender">
        <encoder type="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} &lt;%X{AWSRequestId:-request-id-not-set}&gt; %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="AWSLAMBDA" />
    </root>
</configuration>
